body {
  font-family: Josefin Sans;
  color: gray;
  background-color:black;
  font-size: 20px;
}
.pageOne {
  background: url("https://drive.google.com/uc?id=0B9mz8Ss8vBvgV0pUUEZXcE8ycjQ");
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
}
.pageTwo {
  background: url("https://drive.google.com/uc?id=0B9mz8Ss8vBvgdlNOdVV2UVJPb2M");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
.pageThree {
  background: url("https://drive.google.com/uc?id=0B9mz8Ss8vBvgMnVfTHZHckEyakU");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
.pageFour {
  background: url("https://drive.google.com/uc?id=0B9mz8Ss8vBvgb0djeURfTzJrenM");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
.pageFive {
  background: url("https://drive.google.com/uc?id=0B9mz8Ss8vBvgbU93VGxRVVdCZXc");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
}
li {
  margin-top: -19%;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: gray;
}
h1 {
  font-size: 100px;
}
h2 {
  margin-top: -8%;
}
h3 {
margin-top: -8%;
}
.larger-img{
  width: 300px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.smaller-img {
  width: 200px;
  border-width: 20px;
  border-radius: 20%;
  background-color: white;
  align: middle;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}